<h2>Welcome to VALORANT #RIOTGAME</h2>
<p>A Shooting Game Based on 5 vs 5, Has Very Good FPS and Graphics Compared to FreeFire or Other Shooting Games</p>
<img src="/images/Home.png" alt="Gambar Valorant" class="home">